<div class="text-center" style="text-shadow: 1px 1px gray">
    <h1>Home page</h1>

    <% if current_user %>
    <h3>Welcome, <%=current_user.username%>!</h3>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-sm"  %>
    <% else %>
    <h3>Please sign in</h3>
    <div class="btn-group">
        <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-sm" %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-sm" %>
    </div>
    <% end %>
</div>