<div style="text-align: center">
    <div style="display: inline-block; text-align: left;">
        <h1 style="-webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: gray;">New Dashboard</h1>

        <%= render 'form', dashboard: @dashboard %>

        <%= link_to 'Back', dashboards_path , class: "btn btn-primary btn-sm"%>
    </div>
</div>